# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_hutoblev3_LEFT

config ZMK_KEYBOARD_NAME
    default "hutoblev3"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_hutoblev3_LEFT || SHIELD_hutoblev3_RIGHT

config ZMK_SPLIT
    default y

endif
