# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_hutoblev1a

config SHIELD_hutoblev1a
    def_bool $(shields_list_contains,hutoblev1a)
    
    config ZMK_KEYBOARD_NAME
        default "hutoblev6"
    
endif