# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

CLEAR_ZMK_BLE_CLEAR_BONDS_ON_START=y 


config SHIELD_hutoble_LEFT
    def_bool $(shields_list_contains,hutoble_left)
    CLEAR_ZMK_BLE_CLEAR_BONDS_ON_START=y

config SHIELD_hutoble_RIGHT
    def_bool $(shields_list_contains,hutoble_right)
    CLEAR_ZMK_BLE_CLEAR_BONDS_ON_START=y