# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_hutoblev6_LEFT
    def_bool $(shields_list_contains,hutoblev6_left)

config SHIELD_hutoblev6_RIGHT
    def_bool $(shields_list_contains,hutoblev6_right)